<div>
    <p>Create new post</p>
    <label class="form-label" for="txt_title">Title</label>
    <input class="form-control"  type="text" id="txt_title" />

    <label class="form-label" for="txt_body">Post description</label>
    <textarea class="form-control"  type="text" id="txt_body"></textarea>
    <div>
        <button class="btn btn-info" id="btn_addPost" type="submit">Submit</button>
    </div>
</div>

{{!-- <script src="/js/addPost.js"></script> --}}