<div class="d-flex justify-content-center">
    <form class="col-lg-6">
        <div class="card-hearder">
            <h3><strong>Create new post</strong></h3>
        </div>      
        <label class="form-label" for="txt_title">Title</label>
        <input class="form-control" type="text" id="txt_title" />
        <label class="form-label" for="txt_body">Post description</label>
        <textarea class="form-control mb-2" type="text" id="txt_body"></textarea>
        <div class="float-end">
            <button class="btn btn-info" id="btn_addPost" type="submit">Submit</button>
        </div>
    </form>
</div>

<script src="/js/addPost.js"></script>