<div>
<h2>Login</h2>
<form class="frm_login">
    <div>
      <label>Username</label>
      <input type="text" id="txt_username" />
    </div>
    <div>
      <label>Email</label>
      <input type="text" id="txt_email" />
    </div>
    <div>
      <label>Password</label>
      <input type="password" id="txt_password" />
    </div>
    <button type="submit" id="btn_login">Login</button>
    <button type="submit" id="btn_logout">Logout</button>
</form>
</div>

<script src="/js/login.js"></script>