<div class="card border-info col-lg-3 row">
    <h2>Sign Up</h2>
    <form class="frm_signup">
        <div class="form-group">
            <label class="form-label" for="txt_usernameSignup">Username</label>
            <input class="form-control" type="text" id="txt_usernameSignup" />
        </div>
        <div class="form-group">
            <label class="form-label" for="txt_emailSignup">Email</label>
            <input class="form-control" type="text" id="txt_emailSignup" />
        </div>
        <div class="from-group">
            <label class="from-label" for="txt_passwordSignup">Password</label>
            <input class="form-control" type="password" id="txt_passwordSignup" />
        </div>
        <button class="btn btn-info float-end" type="submit" id="btn_signup">Signup</button>
    </form>
</div>
</div>
<script src="/js/signup.js"></script>